
/* Basic Styling */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */

header {
    background-color: #333;
    color: white;
    padding: 15px;
}
.test1{
	background-color: #333;
    color: white;
    padding: 15px;

}

header a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

.title {
    float: left;
}

.top-buttons {
    float: right;
}

.top-buttons img{
	position: relative;
	width: 25px;
    height: 25px;
}

.cart {
    position: relative;
}

.cart-item-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}
/* Updated Search Bar Styles to align it to the right */
.search-bar {
    position: absolute;
    top: 50px;
    right: 0; /* Ensure it's against the right edge */
    padding-right: 1%;
}

.search-bar input[type="text"] {
    padding: 10px;
    margin: 20px 0;
}

.search-bar input[type="submit"] {
    padding: 12px;
}

.sortButton {
    margin: 20px;
}

.sortButton form {
    display: inline-block; 
    margin-right: 15px;
}

nav {
    clear: both;
}

nav a {
    margin: 15px;
}

/* Dropdown Styles */

.dropdown {
position: relative;
  display: inline-block;
  }

nav a:hover + .dropdown, .dropdown:hover {
    display: block;
}

/* Catalog Styles */

.catalog {
    margin: 20px;
}

.catalog img {
    width: 150px;
    height: 200px;
}

.product {
    display: inline-block;
    margin: 15px;
}

.product-info {
    text-align: center;
}
/*This is for the home page Welcome Message*/

.welcome-link {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            font-size: 48px; /* Larger font size */
            font-weight: bold;
            cursor: pointer;
            text-decoration: none; /* Remove underline */
            color: #000; /* Set link color */
        }
/* Media Queries for Responsiveness */

@media only screen and (max-width: 600px) {
    .product {
        display: block;
        margin: 15px auto;
    }
}

