@charset "ISO-8859-1";
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}
.header a {
    color: inherit; 
    text-decoration: none; 
}
.main-content {
    max-width: 400px;
    margin: 2em auto;
    padding: 1em;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 1em;
}

input[type="text"],
input[type="password"], admin-fields hidden {
    width: 100%;
    padding: 0.5em;
    margin: 0.3em 0;
    border: 1px solid #ccc;
    border-radius: 3px;
      box-sizing: border-box;
}

.login-button {
    display: block;
    width: 100%;
    padding: 0.5em;
    background-color: #333;
;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #2980b9;
}

.login-error {
    color: red;
    text-align: center;
    margin-top: 1em;
}
/* Common input field styles */
.common-input {
    width: 100%;
    padding: 0.5em;
    margin: 0.3em 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Common button styles */
.common-button {
    display: block;
    width: 100%;
    padding: 0.5em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.common-button:hover {
    background-color: #2980b9;
}

