/* Basic styling */
body {
    font-family: Arial, sans-serif;
}
header {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: left;
    font-size: 36px;
}
.header-right {
    float: right;
}
nav {
    text-align: center;
    background-color: #333;
}
nav a {
    padding: 14px 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
}
.main-content {
    margin: 50px;
    padding: 20px;
    background-color: #f9f9f9;
}
.main-content form input[type="text"],
.main-content form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
}
.main-content form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
}
.login-button {
    background-color: #008CBA;
    color: white;
    padding: 14px 20px;
    border: none;
}
/* ===================================== Bellow is the index.html*/

/* Basic Styling */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */

header {
    background-color: #333;
    color: white;
    padding: 7.5px;
}

header a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

.title {
    float: left;
}

.top-buttons {
    float: right;
}

.search-bar {
    float: right;
    margin-top: -2.5em;
}

nav {
    clear: both;
}

nav a {
    margin: 15px;
}

/* Dropdown Styles */

.brand-container {
    position: relative;
    display: inline-block;
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 1em;
}

.brand-trigger:hover + .dropdown, .dropdown:hover {
    display: block;
}

/* Catalog Styles */

.catalog {
    margin: 20px;
}

.catalog img {
    width: 150px;
    height: 200px;
}

.product {
    display: inline-block;
    margin: 15px;
}

.product-info {
    text-align: center;
}

/* Media Queries for Responsiveness */

@media only screen and (max-width: 600px) {
    .product {
        display: block;
        margin: 15px auto;
    }
}
